.hero-section {
  background: url(../images/cristina-gottardi-4L-AyDJM-yM-unsplash.jpg) no-repeat center / cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  h1 {
    margin: 0;
    color: #fff;
    mix-blend-mode: difference;
    user-select: none;
    
    span {
      font-size: 1rem;
      font-weight: normal;
    }
  }
}

.blog-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem;
  gap: 4rem;
}

.featured-section {
  padding: 4rem;

  .section-wrapper {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1000px) {
      max-width: 600px;
    }

    .section-heading {
      color: darkred;
    }

    .featured-post {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 1000px) {
        flex-direction: column;
      }

      .image-link,
      .content-link {
        flex: 1;
      }

      .content-link {
        display: block;
        margin: 0 auto;
        padding: 2.5rem;
      }

      header {

        h1 {margin-bottom: 1rem;}

        h3 {
          color: #777;
          font-weight: normal;
        }
      }

      footer {

        * {margin: 0;}
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

}